:root {
  --main--font: 'Comic Neue', cursive;
  --card-background-color: rgb(9, 25, 47);
  --card-font-color: rgb(108, 240, 208);
  --body-background: rgb(247, 247, 247);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main--font);
  background-color: var(--body-background);
}

.header {
  padding: 0.6em;
  font-size: 1.3rem;
}

.main {
  padding: 0.6em;
}

.main form {
  display: flex;
}

.main form input {
  padding: 0.6em;
}

.main form button {
  padding: 0.6em;
}

.output {
  display: flex;
  flex-wrap: wrap;
  padding: 0.1em;
}

.card {
  margin: 0.7em;
  background-color: var(--card-background-color);
  color: var(--card-font-color);
  width: 10em;
  height: 10em;
  padding: 0.6em;
  line-height: 1.6;
  box-shadow: 0 0 5px 0 rgb(108, 240, 208);
}

.card ul {
  list-style: none;
}
